body {
    font-family: sans-serif;
    background-color: #005b96; /* IFK Blue */
    color: #fff; /* White text */
}

h1, h2 {
    text-align: center;
    color: #fff; /* White text */
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Center the logo */
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.team {
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.ifk {
    background-color: #fff;
    border: 2px solid #005b96;
}

.aik, .dif {
    background-color: #ffebee;
    border: 2px solid #b71c1c;
}
